﻿@model BlankWebApplication.Models.Domain.Message

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Message</h4>

@if (TempData["error"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["error"]
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
       <form asp-action="Create" enctype="multipart/form-data"  >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MessageID" class="control-label"></label>
                <input asp-for="MessageID" class="form-control" />
                <span asp-validation-for="MessageID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Upload a file</label>
                <input type="file" name="logo" class="form-control" />
           
            </div>
            <div class="form-group">
                <label asp-for="TITLE" class="control-label"></label>
                <input asp-for="TITLE" class="form-control" />
                <span asp-validation-for="TITLE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONTET" class="control-label"></label>
                <input asp-for="CONTET" class="form-control" />
                <span asp-validation-for="CONTET" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OWNER" class="control-label"></label>
                <input asp-for="OWNER" class="form-control" />
                <span asp-validation-for="OWNER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TO" class="control-label"></label>
                <input asp-for="TO" class="form-control" />
                <span asp-validation-for="TO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
